# Ignore node_modules directories
node_modules/
test/node_modules/
.pnpm-store/

# Ignore package-lock and yarn-lock, but keep yarn-lock
package-lock.json
yarn.lock
!/yarn.lock

# Ignore build directories
dist/
.next/
target/

# Ignore tarballs
tarballs/

# Ignore any .tgz files in the packages directory
packages/**/*.tgz

# Ignore error logs or other error-related directories
.errors/

# Ignore specific node_modules inside .github
.github/**/node_modules
